src/main/mule/car-bookmyholiday-sys-Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="GetCabDetails" doc:id="922f78ed-92f8-4868-96d2-f488f30978cb" >
		<logger level="INFO" doc:name="GetRequestInitiated" doc:id="53fadc87-e2bd-4b6e-844a-cc86d62a9e36" message="Cars data fetching begin..."/>
		<db:select doc:id="a7601830-4443-431e-83b7-fa868e1c8e6c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from cars where (city=:city OR ""=:city) and 
(date=:date OR ""=:date)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'city':attributes.queryParams.city default "",
	'date':attributes.queryParams.date default ""
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="770eb2e3-5718-4787-a6ad-41604d18b00a" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e6d7f0a-fd3c-4777-87bc-95b97895cba9" message="Cars data fetching begin..."/>
	</flow>
	<flow name="GetCarByID" doc:id="36de7fcc-cdab-4a13-98c5-98da5392db1d" >
		<logger level="INFO" doc:name="Logger" doc:id="fe2c95b1-1d1c-4380-bbda-c6aace89dd21" message="Getting specific car by Id begin..."/>
		<db:select doc:name="Select" doc:id="70fe7a2b-f680-4e1e-9663-925e53755211" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from cars where ID=:uriID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'uriID':attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f6b365ca-f2bc-490a-9383-2e08572e66ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d42d6a67-1fa5-431a-afb1-25b822e9584c" message="Getting specific car by Id end..."/>
	</flow>
</mule>
