src/main/mule/car-bookmyholiday-sys-Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="car-bookmyholiday-sysFlow" doc:id="3558195f-b8c9-46be-ac01-b979c52cdbc9" >
		<ftp:listener doc:name="On New or Updated File Config" doc:id="0d88a420-d6ad-4f68-abdb-e73962cf1e2c" directory="/FTP/muleFTPFile" autoDelete="true" config-ref="FTP_Config">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<ftp:matcher filenamePattern="*.csv" />
		</ftp:listener>
		<logger level="INFO" doc:name="Logger" doc:id="77512918-f619-4918-b479-6811568ce7d9" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a8ec5c9e-0028-4b14-ad2c-c2c3c66da7ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
Cars:payload map {
	ID:$.ID,
	code:$.code,
	city:$.city,
	carType:$.carType,
	number:$.number,
	provider:$.provider
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d6d4616c-7de4-4731-b9da-0363be19639d" message="#[payload.Cars]"/>
	</flow>
	<flow name="GetCabDetails" doc:id="922f78ed-92f8-4868-96d2-f488f30978cb" >
		<logger level="INFO" doc:name="GetRequestInitiated" doc:id="53fadc87-e2bd-4b6e-844a-cc86d62a9e36" message="Cars data fetching begin..."/>
		<ee:transform doc:name="Transform Message" doc:id="b7e004f5-be94-42bc-9fcb-44ded85bd0a7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    ID: "4",
    code: "code4",
    city: "AUS",
    carType: "Small",
    number: "212-456-7904",
    provider: "Ola"
  }, 
  {
  	
    ID: "7",
    code: "code7",
    city: "AUS",
    carType: "Small",
    number: "212-456-7907",
    provider: "Uber"
  }, 
  {  	
    ID: "8",
    code: "code8",
    city: "AUS",
    carType: "Small",
    number: "212-456-7908",
    provider: "Uber"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e6d7f0a-fd3c-4777-87bc-95b97895cba9" message="Cars data fetching begin..."/>
	</flow>
</mule>
